# Application defaults
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fullstack
JWT_SECRET=super-secret
JWT_REFRESH_SECRET=another-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PORT=3333
